/* Para importar archivos separados se debe agregar a los archivos un _ antes de su nombre. Ejemplo:
_nav.scss
_main.scss
Asi el sistema de Sass, dirá que es un archivo diferente y es para importar, el código sera más mantenible.
*/

$primaryColor: #f6f6f6;
$secondaryColor: #d34545;
$terciaryColor: #000000;

// Funciones
@mixin border($radio) {
    border-radius: $radio;
    -webkit-border-radius: $radio;
    -moz-border-radius: $radio;
    -o-border-radius: $radio;
    -ms-border-radius: $radio;
}

// Anindaciones
.card {
    background-color: $primaryColor;
    margin: auto;
    padding: 10px;
    width: fit-content;
    @include border(10px);
    cursor: pointer;
    &:hover {
        background-color: $terciaryColor;
        transition: all 1s;
        color: #f6f6f6;
    }
    .title {
        font-size: 2em;
        color: $secondaryColor;
    }
    .descr {
        font-size: 1em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 300;
    }
}


// Clases extendidas
body {
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

.btns {
    display: inline-block;
    padding: 15px 20px;
    background: none;
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.btn-red {
    @extend .btns;
    background: rgb(226, 12, 12);
}

.btn-blue {
    @extend .btns;
    background: rgb(16, 12, 224);
}

.btn-green {
    @extend .btns;
    background: rgb(55, 205, 25);
}

/* Solución 2:  Con funciones
@mixin btns {
    display: inline-block;
    padding: 15px 20px;
    background: none;
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}
.btn-red {
    @include btns();
    background: rgb(226, 12, 12);
}
.btn-blue {
    @include btns();
    background: rgb(16, 12, 224);
}
.btn-green {
    @include btns();
    background: rgb(55, 205, 25);
}
*/